body
{
    background-color: beige;
}
h1
{
    text-align: center;
}
h2
{
    color: maroon;
    font-family: 'AlexBrush-Regular', Times New Roman;
    font-size: 1.5em;
}
@font-face {
    font-family: 'AlexBrush-Regular';
    src: url('AlexBrush-Regular.ttf');
}
h3
{
    font-weight: normal;
    text-align: center;
}
a:hover
{
    color: maroon;
    font-weight: bold;
}

p img
{
    float: right;
    border: 1px solid black;
    box-shadow: 2px 2px 2px black;
    position: absolute;
    right: 8px;
    top: 8px;
}

#liseret
{
    background-image: url(background.jpg);
    width: 10%;
    margin-right: 3%;
    height: 500px;
    border-radius: 10px;
}

#contenu
{
    width: 85%;
}

#liseret, #contenu
{
    display: inline-block;
    vertical-align: top;
}

section
{
    display: inline-block;
    vertical-align: top;
    width: 30%;
    margin-right: 2%;
}

@media all and (max-width:1024px)
{
     #contenu
    {
        width: auto;
    }

    #liseret
    {
        display: none;
    }

    section 
    {
        display: block;
        width: auto;
    }
}